.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 100%;  
}

.title {
  font-size: 70px;  
}

.list {
  width: 100%;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 2px solid rgba(128, 128, 128, 0.531);  
  padding-top: 10px;
}

