.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-around;
}

.header {
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 30px;
  text-align: center;
}

.bodycontainer {
  width: 80%;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  border: solid 3px gray;
  border-radius: 15px;
  box-shadow: 10px 5px 5px gray; 
  font-size: 25px;
  font-weight: 500;
}

.body {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.iconcontainer {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon{
  height: 150px;
  width: 150px;
  border-radius: 100px;
  background-color: rgba(135, 206, 250, 0.761);
}

.tempcontainer {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 30px;
  cursor: pointer;
  font-size: larger;
  font-weight: 600;
  border-radius: 50px;
  border: 0;
  background-color: var(--appRed);
  color: white;
  text-decoration: none;
  box-shadow: 5px 3px 7px 7px white;
}

.link:hover {
  box-shadow: none;
}

@media screen and (max-width: 700px) {
  .container {
    height: 95%;
  }
  
  .title {
    font-size: 20px;
  }
  
  .bodycontainer {
    height: 55%;
    font-size: 18px;
  }

  .tempcontainer {
    width: 65%;
  }

  .iconcontainer {
    width: 35%;
  }
  
  .body {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .icon{
    height: 100px;
    width: 100px;
  }
}

@media screen and (max-width: 400px) {
  .bodycontainer {
    font-size: 16px;
  }

  .icon{
    height: 70px;
    width: 70px;
  }

.link {
  width: 180px;
  height: 30px;
  font-size: 16px;
  font-weight: 400;
}
  
}