.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  flex: 1;
  border-radius: 15px; 
  box-shadow: 10px 5px 5px gray; 
}

.titleandcountry {  
  height: 100%;
  width: 100%;
  border-right: solid rgba(174, 167, 167, 0.327) 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;  
  gap: 10px;
}

.title {
  font-size: 30px;
  text-align: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 30px;
  cursor: pointer;
  font-size: larger;
  font-weight: 600;
  border-radius: 50px;
  border: 0;
  background-color: var(--appRed);
  color: white;
  text-decoration: none;
}

.button:hover {
  opacity: 0.8;
}

.country {
  font-size: 30px;
}

.tempicon {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  flex: 1;  
}

.temp {
  display: flex;
  gap: 15px;
}

.icon {
  height: 150px;
  width: 150px;
  background-color: white;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 20px;
    text-align: center;
  }

  .button {
      width: 130px;
      font-size: 16px;
  }

  .icon {
    height: 100px;
    width: 100px;
  }
}