.li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 550px;
  height: 100px;
  background-color: var(--appVeige);
  margin-bottom: 4px;
  padding: 20px 10px; 
}

.city {
  font-size: 22px;
  text-decoration: none;
  font-weight: 900;
  color: var(--appRed);
}

.temp, .data {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.button {
  height: 30px;
  width: 30px;
  font-weight: bold;
  background-color: var(--appRed);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: white;
  color: var(--appRed);
}

@media screen and (max-width: 600px) {
  .li {  
    width: 450px; 
    padding: 20px 10px; 
  }

  .city {
    font-size: 20px;
    font-weight: 600;
  }

  .temp, .data {
    font-size: 15px;
    gap: 5px;
  }

  .button {
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;  
  }

  .data p {
    font-size: 14px;
  }
}