.li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  height: fit-content;
  background-color: var(--appVeige);
  padding: 3px 10px; 
}

.city {
  font-size: 20px;
  text-decoration: none;
  font-weight: 700;
  color: var(--appRed);
}

.temp, .data {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 250px;
}

.button {
  height: 25px;
  width: 25px;
  font-weight: bold;
  background-color: var(--appRed);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: white;
  color: var(--appRed);
}

@media screen and (max-width: 700px) {
  .li {
  width: 98%;
  padding: 1px 5px;
  }

  .city {
    font-size: 16px;
    font-weight: 500;
  }

  .temp, .data {
    font-size: 12px;
    font-weight: 400;
    width: 200px;
    gap: 3px;
  }

  .button {
    height: 25px;
    width: 25px;
    font-weight: bold;
    background-color: var(--appRed);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .button:hover {
    background-color: white;
    color: var(--appRed);
  }
}

@media screen and (max-width: 400px) {
  .data {
    width: 165px;
  }
  
  .temp{
    font-size: 11px;
    font-weight: 400;
  }
}