.labinputcontainer {
  display: flex;
  height: 40px;
  width: 100%;
}

.iconsearch {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 5px 10px;
  border-radius: 50px 0px 0px 50px;
  cursor: pointer;
  background-color: white;
  color: gray;
}

.iconsearch:hover {
  background-color: var(--appBrown);
  color: white;
}

.input {
  width: 100%;
  border: none;
  padding: 5px 10px;  
}

.input:focus {
  outline: none;
}

.icondelete {

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 0px 50px 50px 0px;
  cursor: pointer;
  background-color:white;
  color: var(--appRed);
}

@media screen and (max-width: 700px) {
  .labinputcontainer {
    padding: 0px 10px;
  }
}