*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; 
  margin: 0;
}

:root {
  --fontPoppins: 'Poppins', sans-serif;
  --fontQuantico: 'Quantico', sans-serif;
  --fontCode: 'Source Code Pro', monospace;
  --appWhite: #f5f5f5;
  --appVeige: #fef4e8;
  --appBrown: #D7C0AE;
  --appRed:   #a90041;
  --appBlack: #100006; 
  
}

.active{  
  background-color: var(--appVeige);
}
